<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mapping Page</h1>
    <img src="https://via.placeholder.com/600x300">
<p>Problem:
    -NYC has halted the organics recycling program for a year due to budget cuts!
    *Organics recycling/ Organics collection/ Food waste diversion = It’s all the SAME.
    -Why is this a problem? NYC has one of the largest curbside organics pick-up programs
    in the world. One third of what New Yorkers throw away is food scraps and yard
    
    waste. Instead of sending it to landfills, we can use this waste to create compost
    (soil/fertilizer) and renewable energy.
    -Food waste in America: Stats+Facts
    A petition has been started to #saveourcompost and there are currently over 19,000
    names!
    Two City Council members, Keith Powers and Antonio Reynoso are trying to get The
    CORE Act passed so that organics recycling becomes mandatory instead of voluntary.
    Solution: Make Civic Engagement interactive with the most impactful
    Instead of just showing names on a petition, how can we use GIS to make the process
    more interactive? How can we measure and identify these constituents based on
    where and how they recycle their organics within the 5 boroughs.</p>
</body>
</html>